<div class="jumbotron">
  <div class="container">
    <h1>Добро пожаловать на CROSSPARTY!</h1>
    <p>Тут вот мы рассказываем о преимуществах нашего проекта и том, какие мы молодцы</p>
    <p><a href="/about" class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
  </div>
</div>

<div class="row center" >
  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://www.independent.co.uk/incoming/article10173194.ece/alternates/w620/Putin-Ukraine-meme.jpg" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3"  >
    <a href="#" class="thumbnail">
      <img src="https://pp.vk.me/c410620/v410620815/49d9/9n0vcY5yxic.jpg" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://thechive.files.wordpress.com/2014/06/ex-girlfriend-meme-14.jpg?w=550&h=537" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://i2.kym-cdn.com/photos/images/original/000/210/888/1322794088001.jpg" alt="..." style="height:270px">
    </a>
  </div>
</div>

